html {
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

::-webkit-input-placeholder {
  color: rgb(160, 158, 158);
  font-size: 1.8rem;
  font-family: 'Montserrat Alternates', sans-serif;
}
::-moz-placeholder {
  font-family: 'Montserrat Alternates', sans-serif;
}
:-ms-input-placeholder {
  font-family: 'Montserrat Alternates', sans-serif;
}
:-moz-placeholder {
  font-family: 'Montserrat Alternates', sans-serif;
}