%transition {
  transition: all 0.5s ease;
}

%transition-keyboard {
  transition: bottom 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

%transition-key-active {
  transition: box-shadow 0.2s ease, background-color 0.3s ease;
}

%font-montserrat {
  font-family: 'Montserrat Alternates', sans-serif;
}

%custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(124, 172, 143);
    border-radius: 7px;
  }
}