.keyboard__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 6%;
  color: #fff;
  font-size: 2.3rem;
  font-family: Arial;
  background: rgb(6,6,6);
  background: linear-gradient(0deg, #0a0a0a 0%, #1d1d1d 100%);
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  @extend %transition-key-active;

  &_active {
    background: #31d280c9;
    box-shadow: inset 0 0 27px 4px #1b1919, inset 0 0 28px 4px #1b1919;

    & .letter {
      font-size: 1.7rem;
    }

    & .upper-symb {
      font-size: 1.1rem;
    }
  }

  &:last-child {
    margin-right: 0;
  }
  
  @include media-tablet {
    font-size: 1.6rem;
    height: 40px;
  }

  @include media-mobile {
    font-size: 1.3rem;
  }
}

.upper-symb {
  font-size: 1.4rem;
  position: absolute;
  top: 1px;
  right: 5px;
  transition: font-size 0.1s linear;

  @include media-tablet {
    right: 2px;
    font-size: 1rem;
   }
}

.letter {
  transition: font-size 0.1s linear;
}



// Function buttons
[data-fn="true"] {
  background: rgb(43,45,45);
  background: linear-gradient(0deg, rgba(43,45,45,1) 0%, rgba(102,101,99,1) 100%);
  font-size: 1.8rem;
  
  &.keyboard__btn_active {
    background: #31d280c9;
    box-shadow: inset 0 0 27px 4px #1b1919, inset 0 0 28px 4px #1b1919;
  }

  @include media-tablet {
    font-size: 1.2rem;
  }

  @include media-mobile {
    font-size: 0.8rem;
  }
}

[data-code="Delete"] {
  width: 16%;
}

[data-code="Backspace"] {
  width: 16.5%;
}

[data-code="Tab"] {
  width: 12%;
}

[data-code="Enter"] {
  width: 10%;
}

[data-code="CapsLock"] {
  width: 13%;
}

[data-code="CapsLock"].keyboard__btn_activatible::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 7px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #191818;
  @extend %transition;

  @include media-tablet {
    top: 2px;
    right: 2px;
    width: 7px;
    height: 7px;
  } 
}

[data-code="CapsLock"].keyboard__btn_active::after {
  background: #2fe42f;
  animation: btn-active 1.5s infinite;
}



[data-code="ShiftLeft"],
[data-code="ShiftRight"] {
  width: 12.3%;
}

[data-code="ControlLeft"],
[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 9%;
}

[data-code="ControlLeft"] {
  width: 7%;
}

[data-code="Space"] {
  width: 45%;
  @include media-tablet {
    width: 72%;
  }
}

[data-code="ArrowUp"],
[data-code="ArrowLeft"],
[data-code="ArrowDown"],
[data-code="ArrowRight"] {
  @include media-tablet {
    display: none;
  }
}


@keyframes btn-active{
  0% {
    background: #191818;
  }
  50%{
    background: #2fe42f;
  }
  100% {
    background: #191818;
  }
}
