.content {
  margin-top: 15px;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  background: $color-keyboard;
  box-shadow: 0 0 50px rgba(77, 78, 77, 0.4);
  z-index: 3;
  @extend %transition-keyboard;
  opacity: 1;

  &_inactive {
    opacity: 0;
  }

  &_hidden {
    bottom: -100%;
  }

  @include media-tablet {
    padding: 15px 5px ;
  }
}

.keyboard__line {
  display: flex;
  justify-content: space-between;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto 5px;
  &:last-child {
    margin-bottom: 0;
  }

  @include media-tablet {
   height: 40px;
  }
}

.output-wrap {
  position: relative;
  display: block;
  width: 80%;
  height: 90px;
  max-height: 90px;
  margin: 0 auto;

  @include media-mobile {
    width: 100%;
  }
}


.output-field {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #464846;
  @extend %font-montserrat;
  @extend %custom-scroll;
  resize: none;
  border: 1px solid rgb(206, 201, 201);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px #79b98c;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  z-index: 2;

  @include media-mobile {
    font-size: 1.5rem;;
  }
}