// Task preloader
.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  opacity: 0.7;
  z-index: 1;
  @extend %transition;
  
  &_active {
    z-index: 5;
    animation: preloader-display 0.7s ease;
  }
}

.preloader__elem {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border: 5px solid #ece9e9;
  border-radius: 50%;
  border-top: 5px solid #2a8e72;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes preloader-display {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.7;
  }
}