.message {
  position: fixed;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(214, 103, 103, 0.918);
  max-width: 300px;
  width: 75.5%;
  height: 70px;
  border-radius: 5px;
  z-index: 3;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px rgb(177, 180, 178);

  &:before {
    content: '';
    position: absolute;
    bottom: 99.5%;
    left: 50%;
    width: 2px;
    height: 300px;
    background: rgb(145, 142, 142);
    box-shadow: 0 0 10px rgb(177, 180, 178);
  }

  &_active {
    animation: message-elem 1.9s ease-in-out;
  }
}

.message__text {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  line-height: 70px;
  text-align: center;
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 41, 39, 0.164);
  transition: all 0.7s ease;
  z-index: 4;
  opacity: 1;

  &_hide {
    top: -100%;
    opacity: 0;
  }
}

.todo {
  position: relative;
  background: rgb(3,1,14);
  background: linear-gradient(310deg, rgba(3,1,14, 0.9) 0%, rgba(18, 83, 46, 0.9) 100%);
  width: 95%;
  max-width: 1100px;
  max-height: 95%;
  overflow: auto;
  @extend %font-montserrat;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 45px grey;
  @extend %custom-scroll;
}

.todo__close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border-left: 1px solid #666968;
  border-bottom: 1px solid #666968;
  @extend %transition;
  z-index: 7;

  &:hover {
    opacity: 1;

    & .todo__close-icon {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
  }
}

.todo__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("./img/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}

.todo__wrapper {
  padding: 10px;
  height: 100%;
  border: 1px solid #666968;
  border-radius: 2px;
}

.todo__title {
  text-align: center;
  font-size: 3.5rem;
  color: #c3c3c3;
  font-weight: bold;

  &_mod {
    color: #78c378;
  }
}

.wrapper-list {
  max-height: 90%;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #2a4b36;
  transition: all 1s ease;

  &_hidden {
    opacity: 0;
    padding: 0;
    border-bottom: none;

    & .item__start, .item__finish {
      font-size: 0;
      padding: 0;
    }

    & .item__start {
      margin-right: 0;
    }

    .additional {
      width: 0;
      height: 0;
      border: none;

      &:before {
        width: 0;
        height: 0;
      }
    }

    .item__text {
      margin-top: 0;
      font-size: 0;
      opacity: 0.03;
    }

    .item__remove, .item__remove-img {
      width: 0;
      height: 0;
    }

    .item__start-popup, .item__finish-popup {
      font-size: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.item__period {
  position: absolute;
  display: flex;
  top: 15px;
  left: 50px;
  @extend %transition;
}

.item__start, .item__finish {
  position: relative;
  display: flex;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 1.1rem;
  box-shadow: 0 0 5px rgb(180, 179, 179) inset;
  @extend %transition;
  background: #0f4127;
  color: rgb(201, 196, 196);
  z-index: 2;

  &:hover {
    & .item__start-popup, & .item__finish-popup {
      top: 5px;
      opacity: 1;
    }
  }
}

.item__start-popup, .item__finish-popup {
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  font-size: 1.1rem;
  color: rgb(240, 237, 237);
  border-radius: 5px;
  background:rgba(33, 87, 60, 0.945);
  box-shadow: 0 0 3px #b4b3b3 inset;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease;
}

.item__start-time, .item__finish-time {
  margin-right: 5px;
  letter-spacing: 1.3px;
}

.item__start-date, .item__finish-date {
  letter-spacing: 1.1px;
}


.item__finish {
  position: relative;
  left: 24px;
  color: #93ca93;
  opacity: 0;
  transition: all 0.5s ease;

  &_display {
    opacity: 1;
    left: 0;
  }
}

.item__label {
  display: inline-flex;
  align-items: center;
  color: #fff;
  margin-right: 15px;
  transition: all 0.2s linear;
}

.item__input {
  display: none;
  margin-right: 10px;
}

.additional {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  margin-right: 10px;
  flex-shrink: 0;
}

.additional:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  background: #5ef15e;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}

.item__text {
  cursor: pointer;
  margin-top: 20px;
  color: #dcd9d9;
  @extend %transition;

  &_inactive {
    color: rgba(190, 196, 190, 0.438);
  }
}

.item__remove {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  &:hover {
    & .item__remove-img {
      max-width: 40px;    
    }   
  }
}

.item__remove-img {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30px;
  max-height: auto;
  transition: all 0.2s ease-in-out;
}

.item__input:checked + .additional:before {
  opacity: 1;
  animation: checkbox-elem 0.5s ease;
}

.item__input:checked + .additional {
  border-color: #5ef15e;
}

.todo__empty {
  position: absolute;
  bottom: 20px;
  font-size: 2.1rem;
  color: #fff;
  opacity: 1;

  &_hidden {
    opacity: 0;
  }
}

@keyframes checkbox-elem {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0;
  }
  50% {
    width: 40px;
    height: 40px;
    opacity: 1;
    box-shadow: 0 0 50px 20px #fff, 0 0 50px 50px #5ef15e;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@keyframes message-elem {
  0% {
    top: -30%;
    transform: translateX(-50%);
  }
  50% {
    top: 20%;
  }
  70%{
    top: 10%;
  }
  90% {
    top: 20%;
  }
  100% {
    top: -30%;
  }
}
